<section class="d-flex align-items-center justify-content-center">
  <div class="form-container d-flex align-items-center justify-content-center">
    <div class="content">
      <div class="icon d-flex align-items-center justify-content-center">

        <i *ngIf="!status">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="svg-icon-error bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
        </i>

        <i *ngIf="status">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="svg-icon-success bi bi-check-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
          </svg>
        </i>

      </div>

        <div *ngIf="type === 'password'" style="text-align: center;">
          <p *ngIf="status" class="result">Nova senha gerada com sucesso</p>
          <p *ngIf="!status" class="result">Erro ao gerar nova senha</p>
        </div>

        <div *ngIf="type === 'email'" style="text-align: center;">
          <p *ngIf="status" class="result">Email confirmado</p>
          <p *ngIf="!status" class="result">Não foi possível confirmar o email</p>
        </div>

        <div class="options d-flex align-items-center justify-content-center">
          <button (click)="goToLogin()" class="btn btn-primary">
            Ir para a tela de Login
          </button>
        </div>
    </div>
  </div>
</section>
