@import "../../../assets/style/_variables.scss";

section {
  height: 100%;
  width: 100%;
}

.form-container {
  width: 85%;
  height: 25rem;
}

.result {
  height: 6.25rem;
  font-size: 1.875rem;
}

.content {
  width: 100%;
  height: 9.375rem;
}

.options {
  margin-top: 0.9375rem;
  width: 100%;
}

.icon {
  margin-bottom: 1.875rem;
}

.svg-icon-success {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 0.3125rem;
  margin-right: 0.9375rem;
}

.svg-icon-success path,
.svg-icon-success polygon,
.svg-icon-success rect {
  fill: $success;
}

.svg-icon-success circle {
  stroke: f1cf0c;
  stroke-width: 1;
}

.svg-icon-error {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 0.3125rem;
  margin-right: 0.9375rem;
}

.svg-icon-error path,
.svg-icon-error polygon,
.svg-icon-error rect {
  fill: $danger;
}

.svg-icon-error circle {
  stroke: f1cf0c;
  stroke-width: 1;
}
