@import "../../../assets/style/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.side-menu {
  height: calc(100vh - 3.125rem);
  background-color: #ffffff;
  z-index: 9 !important;
  overflow: auto;
  position: absolute;
}

table,
tr,
td {
  margin: 0;
  padding: 0;
}

i {
  font-size: 1.25rem;
}

tr {
  list-style: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 2.5rem;
}

tr:hover {
  background-color: $whitesmoke;
}

.color-indicator {
  background-color: $whitesmoke;
  width: 0.625rem !important;
}

tr:hover .color-indicator {
  background-color: $indigo !important;
}

.icon i {
  width: 3.75rem;
}

.name {
  white-space: nowrap;
  flex: 1 1 auto;
  padding-right: 0.625rem;
  text-align: left;
}

.blank {
  height: 2.5rem;
}

@include media-breakpoint-up(lg) {
  .name{
    padding-right: 5rem;
  }
}

@include media-breakpoint-down(md) {
  .name {
    width: 100%;
  }
}
