@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.datatable-body-cell {
  border-bottom: 1px solid #f0f0f0;
}

.datatable-header-cell span {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
}
