$blue-grey: #37474f;
$blue-grey-light: #62727b;
$blue-grey-dark: #102027;

$green: #4caf50;
$green-light: #80e27e;
$green-dark: #087f23;

$lignt-blue: #0277bd;
$lignt-blue-light: #58a5f0;
$lignt-blue-dark: #004c8c;

$indigo: #3949ab;
$indigo-light: #6f74dd;
$indigo-dark: #00227b;

$color-danger: #e71426;
$color-success: #13ca66;
$color-info: #017BFE;

$color-primary: #2F159E;
$color-secondary: #FFC943;
