$blue-grey: #37474f;
$blue-grey-light: #62727b;
$blue-grey-dark: #102027;

$green: #4caf50;
$green-light: #80e27e;
$green-dark: #087f23;

$lignt-blue: #0277bd;
$lignt-blue-light: #58a5f0;
$lignt-blue-dark: #004c8c;

$indigo: #3949ab;
$indigo-light: #6f74dd;
$indigo-dark: #00227b;

$white: #ffffff;
$whitesmoke: #f5f5f5;
$light-grey: #ced4da;

$danger: #e71426;
$success: #13ca66;
$info: #017BFE;
$warning: #f1cf0c;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);
