@import "../../../assets/style/_variables.scss";

section {
  height: 100%;
  width: 100%;
}

.title {
  height: 6.25rem;
  font-size: 1.875rem;
}

.form {
  width: 85%;
  height: 25rem;
}

.form-row {
  margin-top: 0.625rem;
}
.options {
  margin-top: 0.9375rem;
}

.options li {
  list-style: none;
  text-align: center;
  margin-top: 0.3125rem;
}

.options li a {
  text-decoration: none;
  cursor: pointer;
  color: $indigo-dark;
}

.options li a:hover {
  text-decoration-line: underline;
}

.email-sent,
.email-not-sent,
.email-awaiting {
  text-align: center;
}

.email-failure {
  border-left: 0.3125rem solid $danger;
}

.email-success {
  border-left: 0.3125rem solid $success;
}

.email-awaiting {
  border-left: 0.3125rem solid $warning;
}
