@import "../../../assets/style/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

section {
  height: 100%;
  width: 100%;
  background-color: $whitesmoke;
}

/* Lista de Gastos */

.data {
  margin-top: 0.625rem;
  width: 100%;
}

.expense-list,
.expense-filters {
  background-color: $white;
}

.expense-filters {
  padding: 0.625rem;
  box-sizing: border-box;
}

.expense-filters button {
  width: 100%;
}

.icon-container {
  text-align: center;
}

.delete {
  margin-top: 0.625rem;
}

.category {
  margin-top: 0.625rem;
}

.btn.btn-add-expense {
  border: none;
  border-radius: 0rem !important;
  background-color: $red-dark;
  color: $white;
}

.btn.btn-add-expense i {
  margin-right: 0.625rem;
  color: $white;
}

.btn.btn-add-expense:focus,
.btn.btn-add-expense:hover {
  background-color: $red-light !important;
  color: $white;
}

.btn.btn-add-expense:active {
  background-color: $red-dark !important;
}

@include media-breakpoint-up(lg) {
  .expense-filters {
    width: 40%;
    margin-right: 0.625rem;
  }

  .expense-list {
    width: 100%;
  }

  .data {
    display: flex;
  }
}

@include media-breakpoint-down(md) {
  .expense-filters {
    width: 100%;
    margin-bottom: 0.625rem;
  }

  .expense-list {
    height: 100%;
    width: 100%;
    margin-bottom: 0.625rem;
  }
}
