@import "../../../assets/style/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

section {
  height: 100%;
  width: 100%;
  background-color: $whitesmoke;
}

/* Lista de Receitas */

.data {
  margin-top: 0.625rem;
  width: 100%;
}

.income-list,
.income-filters {
  background-color: $white;
}

.income-filters {
  padding: 0.625rem;
  box-sizing: border-box;
}

.income-filters button {
  width: 100%;
}

.icon-container {
  text-align: center;
}

.delete {
  margin-top: 0.625rem;
}

.category {
  margin-top: 0.625rem;
}

@include media-breakpoint-up(lg) {
  .income-filters {
    width: 40%;
    margin-right: 0.625rem;
  }

  .income-list {
    width: 100%;
  }

  .data {
    display: flex;
  }
}

@include media-breakpoint-down(md) {
  .income-filters {
    width: 100%;
    margin-bottom: 0.625rem;
  }

  .income-list {
    height: 100%;
    width: 100%;
    margin-bottom: 0.625rem;
  }
}
