@import '../../../../assets/style/_variables.scss';

ngx-datatable {
  height: 100%;
  width: 100%;
}

.ngx-datatable.material {
  box-shadow: none !important;
}

:host ::ng-deep span {
  font-weight: normal !important;
}

:host ::ng-deep .empty-row {
  text-align: center !important;
}

:host ::ng-deep .progress-linear .container .bar {
  background: $red !important;
}

:host ::ng-deep .progress-linear .container {
  background: $red-light !important;
}

:host ::ng-deep .datatable-body-row {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group {
  background: $red !important;
}
:host ::ng-deep .datatable-body-row.active span {
  color: $white !important;
}
