<section class="d-flex align-items-center justify-content-center">
  <app-load-spinner *ngIf="isLoading"></app-load-spinner>
  <div class="form-container" *ngIf="!isLoading">
    <div class="title d-flex align-items-center justify-content-center">
      ENTRAR
    </div>
    <form [formGroup]="formLogin" (submit)="login()">

      <app-text-input
        [append]="true"
        [control]="email"
        [trim]="true"
        fieldId="email"
        label="Email"
        name="email"
        placeholder="Email"
        type="text"
      >
        <span class="icon-container input-group-text">
          <i class="fas fa-user"></i>
        </span>
      </app-text-input>

      <app-text-input
        [append]="true"
        [control]="password"
        [trim]="true"
        class="d-block mb-5"
        fieldId="password"
        label="Senha"
        name="senha"
        placeholder="Senha"
        [type]="passwordInput"
      >
        <span (click)="showPasswordEvent()" class="icon-container click input-group-text">
          <i *ngIf="!isPasswordHidden" class="fas fa-eye"></i>
          <i *ngIf="isPasswordHidden" class="fas fa-eye-slash"></i>
        </span>
      </app-text-input>

      <div class="submit col-12 d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">
          Entrar <svg class="svg-icon" viewBox="0 0 20 20">
            <path fill="none" d="M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0
            l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109
            c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483
            c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788
            S1.293,9.212,1.729,9.212z"></path>
          </svg>
        </button>
      </div>
      <div class="options">
        <li><a (click)="forgetPassword()">Esqueci minha senha</a></li>
        <li>Não possui uma conta ? <a (click)="register()">Registrar</a></li>
      </div>
    </form>
  </div>
</section>
