<div [ngClass]="{'d-flex': !isMobile}">
  <ul class="col-4" [ngClass]="{'col-12': isMobile}">
    <li class="title col-6"><a>Maior renda do mês</a></li>
    <li [ngClass]="{'content-margin': !isMobile}" class="content d-flex">Salário <span class="fill"></span>
      <a class="result" [ngStyle]="incomeStatus(100)">R$ 1000,00</a>
      <i *ngIf="1 > 0" [ngStyle]="incomeStatus(100)" class="positive fas fa-chevron-up"></i>
      <i *ngIf="1 < 0" [ngStyle]="incomeStatus(100)" class="negative fas fa-chevron-down"></i>
    </li>
  </ul>
  <ul class="col-4" [ngClass]="{'col-12': isMobile}">
    <li class="title col-6"><a>Menor renda do mês</a></li>
    <li [ngClass]="{'content-margin': !isMobile}" class="content d-flex">Salário <span class="fill"></span>
      <a class="result" [ngStyle]="incomeStatus(100)">R$ 1000,00</a>
      <i *ngIf="1 > 0" [ngStyle]="incomeStatus(100)" class="positive fas fa-chevron-up"></i>
      <i *ngIf="1 < 0" [ngStyle]="incomeStatus(100)" class="negative fas fa-chevron-down"></i>
    </li>
  </ul>
  <ul class="col-4" [ngClass]="{'col-12': isMobile}">
    <li class="title col-6"><a>Total</a></li>
    <li [ngClass]="{'content-margin': !isMobile}" class="content last d-flex">Renda Total <span class="fill"></span>
      <a class="result" [ngStyle]="incomeStatus(100)">R$ 1000,00</a>
      <i *ngIf="1 > 0" [ngStyle]="incomeStatus(100)" class="positive fas fa-chevron-up"></i>
      <i *ngIf="1 < 0" [ngStyle]="incomeStatus(100)" class="negative fas fa-chevron-down"></i>
    </li>
  </ul>
</div>
