@import "../../../assets/style/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

section {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $white;
  padding: 0.625rem;
}

hr {
  margin: 0.625rem !important;
}

.profile-header {
  padding: 0.625rem;
}

.profile-header-data h1 {
  text-align: left;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  cursor: pointer;
  color: $indigo-dark;
}

li a:hover {
  text-decoration-line: underline;
}

form {
  margin-bottom: 0.625rem;
}

.btn-editar span {
  color: $white;
}

@include media-breakpoint-up(lg) {
  .btn-editar i {
    margin-right: 0.3125rem;
    color: $white;
  }
}


@include media-breakpoint-down(md) {
  .btn-editar i {
    margin-right: 0rem;
    color: $white;
  }
}
