<section (window:resize)="onResize()">
  <div class="profile-header d-flex align-items-center">
    <div class="profile-header-data">
      <li>
        <h1>Rodrigo Ventura</h1>
      </li>
    </div>
  </div>
  <hr>
  <div class="profile-info">
    <app-load-spinner *ngIf="isLoading"></app-load-spinner>
    <div *ngIf="!isLoading">
      <div class="d-flex">
        <h3 class="form-title">{{formTitle}}</h3>
        <span class="fill"></span>
        <button *ngIf="formDisabled" class="btn btn-primary btn-editar" (click)="changeFormState()">
          <i class="fas fa-edit"></i>
          <span *ngIf="!isMobile"> Editar Perfil</span>
        </button>
      </div>
      <form [formGroup]="formProfile" (submit)="updateUserInfo()">
        <div class="form-row">
          <div class="col-6" [ngClass]="{'col-12' : isMobile}">

            <app-text-input
              [control]="name"
              [trim]="true"
              fieldId="Nome"
              label="Nome"
              name="nome"
              placeholder="Nome"
              type="text"
            ></app-text-input>

          </div>
          <div class="col-6" [ngClass]="{'col-12' : isMobile}">

            <app-text-input
              [control]="email"
              [trim]="true"
              fieldId="email"
              label="Email"
              name="email"
              placeholder="Email"
              type="text"
            ></app-text-input>

          </div>
        </div>
        <div class="form-row">
          <div class="col-12">

            <app-text-input
              [append]="!formDisabled"
              [control]="password"
              [trim]="true"
              [type]="passwordInput"
              fieldId="password"
              label="Senha"
              name="password"
              placeholder="Senha"
            >
              <span (click)="showPasswordEvent()" class="icon-container click input-group-text">
                <i *ngIf="!isPasswordHidden" class="fas fa-eye"></i>
                <i *ngIf="isPasswordHidden" class="fas fa-eye-slash"></i>
              </span>
            </app-text-input>

          </div>
        </div>
        <div class="form-row">
          <div class="col-12 d-flex">
            <button *ngIf="!formDisabled" class="btn btn-danger" (click)="cancelEditing()">Cancelar</button>
            <span class="fill"></span>
            <button *ngIf="!formDisabled" class="btn btn-success" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
