@import "./assets/style/variables";
@import "./assets/style/_bootstrap-overrides";
@import "./assets/style/ngx-datatable-style";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* Setting Margin and Padding */

html,
body,
p {
  margin: 0rem;
  padding: 0rem;
}

* {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Defaults */

/* width */
::-webkit-scrollbar {
  width: 0.1875rem;
  height: 0.1875rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6.25rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 6.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #686868;
  border-radius: 6.25rem;
}

* {
  font-weight: lighter;
  color: #3f3f3f;
}

i {
  color: #3f3f3f;
}

button:focus {
  outline: 0;
}

/* Custom Classes*/

.fill {
  flex: 1 1 auto;
}

.click {
  cursor: pointer;
}
