<ngx-datatable
  (activate)="dblClickItem($event)"
  [columnMode]="columnMode.flex"
  [columns] = "columns"
  [footerHeight]="0"
  [headerHeight]="50"
  [limit]="limit"
  [loadingIndicator]="loadingIndicator"
  [messages]="type === 'income' ?{emptyMessage: 'Nenhuma Receita disponível'}
  : (type === 'expense' ? {emptyMessage: 'Nenhuma Despesa disponível'}
  : {emptyMessage: 'Nenhum Objetivo disponível'})"

  [rowHeight]="50"
  [rows]="rows"
  [count]="rowCount"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [selected]="selected"
  [selectionType]="'single'"
  class="material">

    <ngx-datatable-column *ngIf="type === 'goal'"
      [resizeable]="false"
      [name]="''"
      [prop]="'Status'"
      [cellClass]="'align-center'"
      [sortable]="false"
      [canAutoResize]="false"
      [width]="30"
    >
      <ng-template let-value="value" ngx-datatable-cell-template>
        <i *ngIf="value === 'Alcancado'" class="success fas fa-check-circle"
        data-toggle="tooltip" data-placement="top" title="Objetivo Ancançado"></i>

        <i *ngIf="value === 'EmAndamento'" class="warning fas fa-dot-circle"
        data-toggle="tooltip" data-placement="top" title="Objetivo em Andamento"></i>

        <i *ngIf="value === 'NaoAlcancado'" class="danger fas fa-times-circle"
        data-toggle="tooltip" data-placement="top" title="Objetivo Não Alcançado"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngFor="let col of columns"
      [resizeable]="true"
      [name]="col.name"
      [prop]="col.prop"
      [flexGrow]="col.flex"
      [cellClass]="col.align"
      [sortable]="false"
      [canAutoResize]="true"
    ></ngx-datatable-column>

  <ngx-datatable-footer>
    <ng-template ngx-datatable-footer-template>
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="1"
        [size]="10"
        [count]="rowCount"
        (change)="setPageData($event)">
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

